@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

/*  Font sizes
    1   rem   10px
    1.2 rem   14px
    1.6 rem   16px
    1.8 rem   18px   
    2   rem   20px
    2.4 rem   24px
    3   rem   30px
    3.6 rem   36px
    4.4 rem   44px
    5.2 rem   52px
    6.2 rem   62px
    7.4 rem   74px
    8.6 rem   86px
    9.6 rem   96px
*/
/* Spacing system
    0.2 rem   2px
    0.4 rem   4px
    0.8 rem   8px
    1.2 rem   12px
    1.6 rem   16px
    2.4 rem   24px
    3.2 rem   32px
    4.8 rem   48px
    6.4 rem   64px
    8   rem   80px
    9.6 rem   96px
    12.8rem   128px

*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  --white: #fdfffc;
  --green-one: #a5e887;
  --green-two: #00cc76;
  --green-three: #00aa95;
  --green-four: #009481;
  --black: #000e0c;
  --red: #ea4c41;
  --main-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  --outline: 3px solid var(--green-four);
  color: var(--black);
}

/* //////////////////////////// */
/* ////////// HEADER ////////// */
/* //////////////////////////// */

header {
  padding: 0.8rem 1.6rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 5;
}

.logo {
  display: flex;
  align-items: center;
}

.logo:link,
.logo:visited,
.logo:hover,
.logo:active {
  text-decoration: none;
  color: var(--black);
}

.logo__name {
  font-size: 1.8rem;
  font-weight: bold;
}

.leaf {
  height: 2.4rem;
}

/* //////////////////////////// */
/* //////////// MAIN ////////// */
/* //////////////////////////// */

.main {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-block: 2.4rem;
}

.home-cta {
  display: none;
}

.user-input,
.shopping-cart {
  width: min(90%, 40rem);
  max-width: 32rem;
  margin: 0 auto;
}

.section-title {
  font-size: 2.4rem;
  font-weight: 600;
  padding-bottom: 0.5em;
}

.form,
.items {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form-group,
.item,
.total {
  width: 100%;
  max-width: 32rem;
}

.form__label {
  font-size: 1.8rem;
  padding-left: 1.2rem;
  padding-bottom: 0.4rem;
  height: 0.4rem;
}

.form__input {
  width: 100%;
  height: 4rem;
  border: 1.5px solid var(--green-three);
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  padding-inline: 1.2rem;
  box-shadow: var(--main-shadow);
  color: var(--black);
}

.form__input:focus {
  outline-offset: 2px;
  outline: var(--outline);
}

.form__cta {
  width: 100%;
  max-width: 32rem;
  padding-block: 0.5em;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--green-three);
  margin-top: 1.2rem;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
  font-family: 'Poppins', sans-serif;
}

.form__cta:hover {
  background-color: var(--green-four);
}

.form__cta:focus,
.form__cta:active {
  outline-offset: 2px;
  outline: var(--outline);
}

h2.section-title {
  text-align: center;
}

.items {
  gap: 0;
  border-top: 1.5px solid rgba(0, 0, 0, 0.12);
}

.item {
  display: flex;
  gap: 1.2rem;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.12);
  align-items: center;
  padding-block: 0.8rem;
  padding-inline: 0.4rem;
}

.item__img {
  width: 100%;
  width: 4.8rem;
  height: 4.8rem;
  object-fit: cover;
  object-position: 0;
}

.item__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item__title {
  font-size: 1.8rem;
}

.item__body {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.item__quantity {
  opacity: 0.65;
}

.total {
  margin-top: 2rem;
  font-size: 2rem;
  text-align: right;
  font-weight: 500;
}

.error {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  z-index: 9;
  background-color: var(--red);
  color: var(--white);
  font-weight: 500;
  width: 32rem;
  text-align: center;
  padding-block: 2.4rem;
  border-radius: 0 0 4px 4px;
  font-size: 1.6rem;
  transition: transform 150ms ease-in-out;
}

.error--shown {
  transform: translateX(-50%) translateY(0);
}

.loading {
  position: relative;
  overflow: hidden;
}

.loading::before,
.loading::after {
  content: '';
  width: 2.4rem;
  top: 0;
  left: -2.4rem;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  background-color: var(--green-two);
  border-radius: 4px;
  animation-name: loading;
  animation-duration: 1300ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes loading {
  0% {
    left: -2.4rem;
  }
  100% {
    left: 100%;
  }
}

.loading::after {
  animation-delay: 650ms;
}

@media (min-width: 920px) {
  html {
    font-size: 50%;
  }

  header {
    padding-inline: 3.2rem;
  }

  .logo__name {
    font-size: 2.4rem;
  }

  .leaf {
    height: 3.2rem;
  }

  .container {
    margin: 0 auto;
  }

  .main {
    flex-direction: row;
    justify-content: center;
    gap: 0;
    padding-block: 4.8rem;
    position: relative;
    margin-inline: 3.2rem;
  }

  .home-cta:link,
  .home-cta:visited {
    display: flex;
    gap: 1.2rem;
    text-decoration: none;
    color: var(--black);
    font-size: 2rem;
    align-items: center;
    position: absolute;
    left: 0;
  }

  .home-cta:hover,
  .home-cta:active,
  .home-cta:focus {
    opacity: 0.8;
  }

  .home-cta__text {
    position: relative;
  }

  .home-cta__text::before {
    content: '';
    width: 110%;
    left: -5%;
    bottom: 0;
    height: 0.2rem;
    background-color: var(--black);
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 150ms ease-in-out;
  }

  .home-cta:hover .home-cta__text::before,
  .home-cta:focus .home-cta__text::before {
    transform: scaleX(1);
  }

  .home-cta__img {
    transform: rotate(180deg);
    width: 2.4rem;
    height: 2.4rem;
  }

  .user-input,
  .shopping-cart {
    margin: 0;
    max-width: 36rem;
  }

  .user-input {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    padding-right: 3.2rem;
  }

  .shopping-cart {
    padding-left: 3.2rem;
  }

  .section-title {
    padding-bottom: 1em;
  }

  .items {
    height: 40.32rem;
    overflow: scroll;
  }

  .item {
    padding-block: 1.2rem;
  }

  .form-group,
  .item,
  .total,
  .form__cta {
    max-width: 36rem;
  }

  .total {
    margin-top: 1rem;
  }
}

@media (min-width: 1240px) {
  .container {
    max-width: 1200px;
  }

  .main {
    margin-inline: 0;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  html {
    font-size: 58%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--white);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--green-three);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--green-four);
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--green-three) var(--white);
    scrollbar-width: auto;
  }
}

*::selection {
  background-color: var(--green-four);
  color: var(--white);
}
